USE [master]
GO
/****** Object:  Database [YouTubeDB]    Script Date: 16.06.2019 14:06:36 ******/
CREATE DATABASE [YouTubeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YouTubeDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\YouTubeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YouTubeDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\YouTubeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YouTubeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YouTubeDB]
GO
USE [YouTubeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Advertisements]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisements](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[AdvertisingType_ID] [uniqueidentifier] NULL,
	[Agency_ID] [uniqueidentifier] NULL,
	[Campaign_ID] [uniqueidentifier] NULL,
	[Channel_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Advertisements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdvertisingTypes]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertisingTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[TypeName] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AdvertisingTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencies](
	[ID] [uniqueidentifier] NOT NULL,
	[AgencyName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Agencies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[ID] [uniqueidentifier] NOT NULL,
	[CampaignName] [nvarchar](200) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Campaigns] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[CategoryDescription] [nvarchar](300) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [uniqueidentifier] NOT NULL,
	[CommentText] [nvarchar](300) NOT NULL,
	[VideoID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[CommentOfComment_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [uniqueidentifier] NOT NULL,
	[CountryName] [nvarchar](250) NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DislikeVideos]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DislikeVideos](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[VideoID] [uniqueidentifier] NOT NULL,
	[Liked] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DislikeVideos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Displayings]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Displayings](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[VideoID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Displayings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[VideoID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Favorites] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Histories]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[User_ID] [uniqueidentifier] NULL,
	[Video_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Histories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[Agency_ID] [uniqueidentifier] NULL,
	[Client_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeVideos]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeVideos](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[VideoID] [uniqueidentifier] NOT NULL,
	[Liked] [bit] NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LikeVideos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[Invoice_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[ID] [uniqueidentifier] NOT NULL,
	[SubCategoryName] [nvarchar](150) NULL,
	[Description] [nvarchar](250) NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subsribe]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsribe](
	[ID] [uniqueidentifier] NOT NULL,
	[FolowedID] [uniqueidentifier] NOT NULL,
	[FolowerID] [uniqueidentifier] NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[User_ID] [uniqueidentifier] NULL,
	[takipEdiyorMu] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Subsribe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[EmailAddress] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[BirthDate] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Gender] [int] NULL,
	[CountryID] [uniqueidentifier] NOT NULL,
	[ChannelName] [nvarchar](max) NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[BioDescription] [nvarchar](2000) NULL,
	[ImagePath] [nvarchar](200) NULL,
	[CoverImagePath] [nvarchar](200) NULL,
	[isAdministrator] [bit] NOT NULL,
	[RememberMe] [bit] NOT NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Videos]    Script Date: 16.06.2019 14:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[VideoDescription] [nvarchar](max) NULL,
	[VideoPath] [nvarchar](300) NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[DisplayingNumber] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIP] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Videos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Categories] ([ID], [CategoryName], [CategoryDescription], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'1f1eda2e-b08c-e911-a26f-a86bad80d7e6', N'Müzik', NULL, 1, CAST(N'2019-06-12T04:19:54.933' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [CategoryDescription], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'201eda2e-b08c-e911-a26f-a86bad80d7e6', N'Haber', NULL, 1, CAST(N'2019-06-12T04:19:57.730' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [CategoryDescription], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'211eda2e-b08c-e911-a26f-a86bad80d7e6', N'Eğlence', NULL, 5, CAST(N'2019-06-12T04:20:00.707' AS DateTime), N'::1', CAST(N'2019-06-12T04:23:06.423' AS DateTime), N'::1')
INSERT [dbo].[Comments] ([ID], [CommentText], [VideoID], [UserID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [CommentOfComment_ID]) VALUES (N'8051504a-f28c-e911-a26f-a86bad80d7e6', N'svygbuhnıjmoklp', N'1383144f-b78c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-12T12:13:07.690' AS DateTime), N'::1', NULL, NULL, NULL)
INSERT [dbo].[Comments] ([ID], [CommentText], [VideoID], [UserID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [CommentOfComment_ID]) VALUES (N'9da7d5bc-f28c-e911-a26f-a86bad80d7e6', N'selam', N'1383144f-b78c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-12T12:16:19.750' AS DateTime), N'::1', NULL, NULL, NULL)
INSERT [dbo].[Comments] ([ID], [CommentText], [VideoID], [UserID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [CommentOfComment_ID]) VALUES (N'63e172bb-988e-e911-a26f-a86bad80d7e6', N'selam', N'3de25ef0-2b8e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T14:37:04.867' AS DateTime), N'::1', NULL, NULL, NULL)
INSERT [dbo].[Countries] ([ID], [CountryName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0a792f5d-ad8c-e911-a26f-a86bad80d7e6', N'Afganistan', 1, CAST(N'2019-06-12T03:59:42.640' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Countries] ([ID], [CountryName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0b792f5d-ad8c-e911-a26f-a86bad80d7e6', N'Almanya', 1, CAST(N'2019-06-12T03:59:53.577' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Countries] ([ID], [CountryName], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'466fdf64-ad8c-e911-a26f-a86bad80d7e6', N'Amerika Birleşik Devletleri', 1, CAST(N'2019-06-12T03:59:57.083' AS DateTime), N'::1', NULL, NULL)
GO
INSERT [dbo].[DislikeVideos] ([ID], [UserID], [VideoID], [Liked], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'af42d040-348e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'2c446d72-2d8e-e911-a26f-a86bad80d7e6', 1, 5, CAST(N'2019-06-14T02:37:51.683' AS DateTime), N'::1', CAST(N'2019-06-14T02:41:11.443' AS DateTime), N'::1')
INSERT [dbo].[Displayings] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'38727e3c-928e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'4987c49d-698d-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T13:50:34.990' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Displayings] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c046f83b-938e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'3de25ef0-2b8e-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T13:57:43.620' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Displayings] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'0b7d3f51-958e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'2c446d72-2d8e-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T14:12:38.133' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Favorites] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'a75339ea-628d-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'1383144f-b78c-e911-a26f-a86bad80d7e6', 5, CAST(N'2019-06-13T01:39:19.240' AS DateTime), N'::1', CAST(N'2019-06-13T02:29:59.033' AS DateTime), N'::1')
INSERT [dbo].[Favorites] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c4d10d45-638d-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'1383144f-b78c-e911-a26f-a86bad80d7e6', 5, CAST(N'2019-06-13T01:41:52.123' AS DateTime), N'::1', CAST(N'2019-06-13T02:32:48.117' AS DateTime), N'::1')
INSERT [dbo].[Favorites] ([ID], [UserID], [VideoID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c146f83b-938e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'3de25ef0-2b8e-e911-a26f-a86bad80d7e6', 5, CAST(N'2019-06-14T13:57:46.377' AS DateTime), N'::1', CAST(N'2019-06-15T21:39:25.533' AS DateTime), N'::1')
INSERT [dbo].[LikeVideos] ([ID], [UserID], [VideoID], [Liked], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'c2f7253c-338e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'2c446d72-2d8e-e911-a26f-a86bad80d7e6', 1, 5, CAST(N'2019-06-14T02:30:32.480' AS DateTime), N'::1', CAST(N'2019-06-14T02:37:43.630' AS DateTime), N'::1')
INSERT [dbo].[LikeVideos] ([ID], [UserID], [VideoID], [Liked], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'ae42d040-348e-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'2c446d72-2d8e-e911-a26f-a86bad80d7e6', 1, 1, CAST(N'2019-06-14T02:37:49.727' AS DateTime), N'::1', NULL, NULL)
INSERT [dbo].[Subsribe] ([ID], [FolowedID], [FolowerID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [User_ID], [takipEdiyorMu]) VALUES (N'3e71286e-f78c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', N'1642c591-b48c-e911-a26f-a86bad80d7e6', 5, CAST(N'2019-06-12T12:49:55.087' AS DateTime), N'::1', CAST(N'2019-06-14T14:03:26.977' AS DateTime), N'::1', NULL, 1)
INSERT [dbo].[Subsribe] ([ID], [FolowedID], [FolowerID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [User_ID], [takipEdiyorMu]) VALUES (N'41d4de23-2d8e-e911-a26f-a86bad80d7e6', N'1642c591-b48c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T01:46:54.670' AS DateTime), N'::1', NULL, NULL, NULL, 1)
INSERT [dbo].[Subsribe] ([ID], [FolowedID], [FolowerID], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP], [User_ID], [takipEdiyorMu]) VALUES (N'e3674cf7-2d8e-e911-a26f-a86bad80d7e6', N'73e2ee34-b48c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 1, CAST(N'2019-06-14T01:52:49.470' AS DateTime), N'::1', NULL, NULL, NULL, 1)
INSERT [dbo].[Videos] ([ID], [Title], [VideoDescription], [VideoPath], [CategoryID], [UserID], [DisplayingNumber], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'1383144f-b78c-e911-a26f-a86bad80d7e6', N'Yaprak Çamlıca - Karanlık Sokaklar (Akustik)', NULL, N'Video/ec99f783_89f6_4249_8bb6_99451cddbb72.mp4', N'1f1eda2e-b08c-e911-a26f-a86bad80d7e6', N'e83e58ba-b28c-e911-a26f-a86bad80d7e6', 0, 5, CAST(N'2019-06-12T05:10:54.890' AS DateTime), N'::1', CAST(N'2019-06-13T02:24:38.347' AS DateTime), N'::1')
INSERT [dbo].[Videos] ([ID], [Title], [VideoDescription], [VideoPath], [CategoryID], [UserID], [DisplayingNumber], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'4987c49d-698d-e911-a26f-a86bad80d7e6', N'Yaprak Çamlıca - Karanlık Sokaklar - (Akustik)', NULL, N'Video/1177b632_78f7_4435_bc96_e395bac32943.mp4', N'1f1eda2e-b08c-e911-a26f-a86bad80d7e6', N'50a14a00-b48c-e911-a26f-a86bad80d7e6', 0, 3, CAST(N'2019-06-13T02:27:17.000' AS DateTime), N'::1', CAST(N'2019-06-14T21:34:53.583' AS DateTime), N'::1')
INSERT [dbo].[Videos] ([ID], [Title], [VideoDescription], [VideoPath], [CategoryID], [UserID], [DisplayingNumber], [Status], [CreatedDate], [CreatedIP], [ModifiedDate], [ModifiedIP]) VALUES (N'46a5d70c-078e-e911-a26f-a86bad80d7e6', N'7 dakikada NoSql  Nedir ?', NULL, N'Video/20b5ce53_aa95_4a2d_b18f_d5ae74148430.mp4', N'1f1eda2e-b08c-e911-a26f-a86bad80d7e6', N'1642c591-b48c-e911-a26f-a86bad80d7e6', 0, 5, CAST(N'2019-06-13T21:14:15.023' AS DateTime), N'::1', CAST(N'2019-06-14T01:37:43.050' AS DateTime), N'::1')
/****** Object:  Index [IX_AdvertisingType_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_AdvertisingType_ID] ON [dbo].[Advertisements]
(
	[AdvertisingType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Agency_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Agency_ID] ON [dbo].[Advertisements]
(
	[Agency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Campaign_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Campaign_ID] ON [dbo].[Advertisements]
(
	[Campaign_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Channel_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Channel_ID] ON [dbo].[Advertisements]
(
	[Channel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentOfComment_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_CommentOfComment_ID] ON [dbo].[Comments]
(
	[CommentOfComment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Comments]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_VideoID] ON [dbo].[Comments]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[DislikeVideos]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_VideoID] ON [dbo].[DislikeVideos]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Displayings]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_VideoID] ON [dbo].[Displayings]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Favorites]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_VideoID] ON [dbo].[Favorites]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[Histories]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Video_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Video_ID] ON [dbo].[Histories]
(
	[Video_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Agency_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Agency_ID] ON [dbo].[Invoices]
(
	[Agency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Client_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Client_ID] ON [dbo].[Invoices]
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[LikeVideos]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_VideoID] ON [dbo].[LikeVideos]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_ID] ON [dbo].[Payments]
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[SubCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FolowedID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_FolowedID] ON [dbo].[Subsribe]
(
	[FolowedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FolowerID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_FolowerID] ON [dbo].[Subsribe]
(
	[FolowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[Subsribe]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Users]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Users]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Videos]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 16.06.2019 14:06:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Videos]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Advertisements] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[AdvertisingTypes] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Agencies] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[DislikeVideos] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Displayings] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Histories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[LikeVideos] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Subsribe] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Subsribe] ADD  DEFAULT ((0)) FOR [takipEdiyorMu]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Videos] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Advertisements_dbo.AdvertisingTypes_AdvertisingType_ID] FOREIGN KEY([AdvertisingType_ID])
REFERENCES [dbo].[AdvertisingTypes] ([ID])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.AdvertisingTypes_AdvertisingType_ID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Advertisements_dbo.Agencies_Agency_ID] FOREIGN KEY([Agency_ID])
REFERENCES [dbo].[Agencies] ([ID])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Agencies_Agency_ID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Advertisements_dbo.Campaigns_Campaign_ID] FOREIGN KEY([Campaign_ID])
REFERENCES [dbo].[Campaigns] ([ID])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Campaigns_Campaign_ID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Advertisements_dbo.Users_Channel_ID] FOREIGN KEY([Channel_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Users_Channel_ID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Comments_CommentOfComment_ID] FOREIGN KEY([CommentOfComment_ID])
REFERENCES [dbo].[Comments] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Comments_CommentOfComment_ID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Videos_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Videos_VideoID]
GO
ALTER TABLE [dbo].[DislikeVideos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DislikeVideos_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DislikeVideos] CHECK CONSTRAINT [FK_dbo.DislikeVideos_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[DislikeVideos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DislikeVideos_dbo.Videos_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[DislikeVideos] CHECK CONSTRAINT [FK_dbo.DislikeVideos_dbo.Videos_VideoID]
GO
ALTER TABLE [dbo].[Displayings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Displayings_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Displayings] CHECK CONSTRAINT [FK_dbo.Displayings_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Displayings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Displayings_dbo.Videos_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[Displayings] CHECK CONSTRAINT [FK_dbo.Displayings_dbo.Videos_VideoID]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorites_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_dbo.Favorites_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorites_dbo.Videos_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_dbo.Favorites_dbo.Videos_VideoID]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Histories_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_dbo.Histories_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Histories_dbo.Videos_Video_ID] FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_dbo.Histories_dbo.Videos_Video_ID]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Agencies_Agency_ID] FOREIGN KEY([Agency_ID])
REFERENCES [dbo].[Agencies] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Agencies_Agency_ID]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Users_Client_ID] FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Users_Client_ID]
GO
ALTER TABLE [dbo].[LikeVideos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeVideos_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[LikeVideos] CHECK CONSTRAINT [FK_dbo.LikeVideos_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[LikeVideos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeVideos_dbo.Videos_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Videos] ([ID])
GO
ALTER TABLE [dbo].[LikeVideos] CHECK CONSTRAINT [FK_dbo.LikeVideos_dbo.Videos_VideoID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Invoices_Invoice_ID] FOREIGN KEY([Invoice_ID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Invoices_Invoice_ID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Subsribe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subsribes_dbo.Users_FolowedID] FOREIGN KEY([FolowedID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Subsribe] CHECK CONSTRAINT [FK_dbo.Subsribes_dbo.Users_FolowedID]
GO
ALTER TABLE [dbo].[Subsribe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subsribes_dbo.Users_FolowerID] FOREIGN KEY([FolowerID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Subsribe] CHECK CONSTRAINT [FK_dbo.Subsribes_dbo.Users_FolowerID]
GO
ALTER TABLE [dbo].[Subsribe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subsribes_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Subsribe] CHECK CONSTRAINT [FK_dbo.Subsribes_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Videos_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_dbo.Videos_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Videos_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_dbo.Videos_dbo.Users_UserID]
GO
USE [master]
GO
